extends layout

block content
  p
  br
  br
  br
  br
  br
  .row(style='text-align:center')
    if user.sequencing
      p: a(href='/mood') My genese, my mood, what is next?
    else
      p: a(href='/auth/sequencing') Get my personalized data from Sequencing.com
