extends layout

block content
  p
  br
  br
  .col-sm-offset-3.col-sm-4
    if user.sequencing
      p: a(href='/mood') My genese, my mood, what is next?
    else
      p: a(href='/auth/sequencing') Get my personalized data from Sequencing.com
