extends layout

block content
    .row(style='text-align:center')
      h1(style='margin-top:12%') How are you feeling?
      br
    .row(style='text-align:center')
      a(href='/tip?mood=1')
        img(src='/1.jpg', style='width:15%')
      |   
      a(href='/tip?mood=2')
        img(src='/2.jpg', style='width:15%')
      |   
      a(href='/tip?mood=3')
        img(src='/3.jpg', style='width:15%')
      |   
      a(href='/tip?mood=4')
        img(src='/4.jpg', style='width:15%')
      |   
      a(href='/tip?mood=5')
        img(src='/5.jpg', style='width:15%')
