extends layout

block content
    .row(style='text-align:center')
      h3 How are you feeling?
    .row(style='text-align:center')
      a(href='/tip')
        img(src='/1.jpg', style='width:15%')
      |   
      a(href='/tip')
        img(src='/2.jpg', style='width:15%')
      |   
      a(href='/tip')
        img(src='/3.jpg', style='width:15%')
      |   
      a(href='/tip')
        img(src='/4.jpg', style='width:15%')
      |   
      a(href='/tip')
        img(src='/5.jpg', style='width:15%')
