extends layout

block content
  h1 Happy Genes
  p.lead Using genetics to find your ultimate happiness.
    .row(style='text-align:center')
      h3 How are you feeling?
    .row(style='text-align:center')
      a(href='/mood/1')
        img(src='/1.jpg', style='width:15%')
      |   
      a(href='/mood/2')
        img(src='/2.jpg', style='width:15%')
      |   
      a(href='/mood/3')
        img(src='/3.jpg', style='width:15%')
      |   
      a(href='/mood/4')
        img(src='/4.jpg', style='width:15%')
      |   
      a(href='/mood/5')
        img(src='/5.jpg', style='width:15%')
